


.card_{
    width: 100%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.card_title{
    margin: 0px;
    font-size: 1.3em;
}
.card_text{
    /*    : cima , direita, baixo , esquerda */
    margin: 0 0 10px 0;
}
.price{
    display: flex;
    flex-direction: row;
}
.price p{
    padding-right: 10px;
    font-size: 1.2em;
    margin: 0px;
}
.price_discount{
    color: green;
}
img{
    border-radius: 5px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}