@charset "UTF-8";

*{
    box-sizing: border-box;
}

/*  Header */


header{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu{
    width: 70px;
}
.menu .m1{
    width: 40px;
    height: 8px;
    background-color: black;
    border-radius: 10px; 
    margin-bottom: 5px
}
.menu .m2{
    width: 30px;
    height: 8px;
    background-color: black;
    border-radius: 10px;         
}

.dias{
    font-size: 1.5em
}
.dia-da-semana button{
    border: none;
    background-color: inherit;
    cursor: pointer;
}

li{
    cursor: pointer;
    list-style: none; 
    padding: 5px 0;
}


.logo img{
    height: 70px;
    width: 70px;
}
                  
.alert{
    background-color: #FFCC2A;
}

.alert-heading{
    text-decoration: underline;
}

/*      Main     */



.btn_check{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.btn_check:checked + .btn_::after{
    content: ' ';
    width: 100%;
    height: 7px;
    color: black;
    background-color: #FFCC2A;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}
.btn_{
    font-size: 1.8em;
    font-weight: bold;
    margin: 10px 20px;
    color: rgba(0, 0, 0, 0.3);
    padding: 10px 1px;
    position: relative;
}
.btn_check:checked + .btn_{
    color: black;
}


.search{
    width: 100%; 
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 20px 0px;
}
.form_search{
    border: none;
    height: 50px;
    width: 80%;
    font-size: large;
    outline: none;
}



.btn_search{
    height: 50px;
    width: 50px;
    background-color: inherit;
    border: none;
    
}


.wrapper{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 20px 0;
}

.wrapper::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.wrapper label{
    font-size: 1.8em;
    margin:0  10px ;
}

#nav-2{
    position: sticky;
    height: 60px;
    margin-top: 10px;
    padding: 10px ;
    top: 0;
    background-color: rgb(255, 255, 255);
    margin-left: 0;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.116);
}
.btn-color{
    text-decoration: none;
    font-size: 1.3em;
    color: black !important;
    background-color: inherit;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 5px;
    position: relative;
}

.active{
    color: #FFCC2A !important; 
    font-weight: bold;
    padding: 3px;
}

.active::before{
    content: ' ';
    width: 100%;
    height: 2px;
    color: black;
    background-color: #FFCC2A;
    position: absolute;
    bottom: 0;
    left: 0;
}




.tudo , .entradas, .guarnicoes, .carnes ,.bebidas ,.drinks{
    display: flex;
}




.promo{
    display: none;

}
.promo h1{
    text-align: center;
}
.promo p {
    margin: auto;
    text-align: justify;
    width: 90%;
    margin-bottom: 10px;
}
.promo > div{
    background-color: #FFCC2A;
    margin: 20px 0;
    border-radius: 10px;
    padding: 20px;
    color: rgb(0, 0, 0);
}

span{
    color: rgb(38, 127, 3);
    font-weight: bolder;
    padding: 5px
}

.sobre{
    display: none;
    margin: 20px 0;
    padding: 30px 15px;
    width: 100%;
    background-color: #FFCC2A;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.sobre div.hr-titulo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.sobre svg{
    width: 50px;
    height: 50px;
   
}
.sobre h1{
    padding: 0 10px; 
    width: min-content;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
}

.horarios{
    background-color: white;
    padding: 10px;
}
.horarios > div {
    text-align: center;
}
.horarios > div > p{
    margin: 0;
    font-size: 1.2em;
}

.horarios > hr{
    margin: 10px auto;
    width: 90%;
    border: 1px dashed black;
}


#promocoes > h2, #entradas > h2, #carnes > h2, #guarnicoes > h2, #bebidas > h2, #drinks > h2{
    /* position: sticky;
    top: 59px; */
    margin: 0 10px;
    background: white;
    padding: 10px 0;
    font-weight: bolder;
}   